@model GuestContact
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <form asp-controller="Home" asp-action="InClassHtmlLinks" method="post">
        <p>Name: <input asp-for="Name" /></p>
        <p>Email: <input asp-for="Email" /></p>
        <p>Phone number: <input asp-for="Phone" /></p>
        <button type="submit">Submit</button>
    </form>
   

