@model GuestContact
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

    <form asp-controller="Home" asp-action="InClassHtmlLinks" method="post">
        <table>
            <tr>
                <td>Name: </td>
                <td><input asp-for="Name" /></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><input asp-for="Email" /></td>
            </tr>
            <tr>
                <td>Phone number: </td>
                <td><input asp-for="Phone" /></td>
            </tr>
        </table>
        <button type="submit">Submit</button>
    </form>
   

