@model GuestContact
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Hello world Hello Hello!</h2>
    <p>@Model.Name</p>
    <p>@Model.Email</p>
    <p>@Model.Phone</p>

    <form asp-controller="Home" asp-action="Index" method="post">
        <p>Name: <input asp-for="Name" /></p>
        <p>Email: <input asp-for="Email" /></p>
        <p>Phone number: <input asp-for="Phone" /></p>
        <button type ="submit">Submit</button>
    </form>

</body>
</html>