@model GuestContact
@{ Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Welcome to the link that you just clicked!</h2>
    <p>@Model.Name, (this value is from Index controller)</p>
    <p>@Model.id, (you have passed this value from your Home page)</p>
    <p> Thank you ! </p>

    <a asp-controller="Home" asp-action="InClassHtmlLinks" asp-route-id="14" asp-fragment="notes">Go to Form Page</a>