@model GuestContact
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site2.css" />
    <title>In Class Exercise - HTML Links </title>
</head>
<body>

    <div class="header">
        <h2>Home Page - HTML Links!</h2>
        <p>@Model.Name</p>
        <p>@Model.Email</p>
        <p>@Model.Phone</p>
    </div>

    <div class="body-content">
        @RenderBody()
    </div>

    <div class="footer">
        <a asp-controller="Home" asp-action="Index" asp-route-id="14" asp-fragment="notes">Index Page</a>
    </div>
</body>
</html>
